#logo{
    width:auto;
    height:45px;
    background-color:#e9f3ff;
}
#download-errors {
    display:none;
}
#buttons{
    width:400px;
    margin-left:0px;
}
#brand-form{
padding : 2px 25px 2px 10px;
}



#sales-form{
padding : 2px 25px 2px 10px;
}
#download-image{
    height:25px;
    width:auto;
}
#product-form{
padding : 2px 25px 2px 10px;
}

#inventory-form{
padding : 2px 25px 2px 10px;
}


#item-form{
padding : 2px 25px 2px 10px;
}
#add-item{
position:absolute;
right :20px;
}
#order-control{
    height: 60px;
    width:100%;
    z-index: 5;
    position:absolute;
    right:50px;
    bottom:65px;
    opacity:1;
    background-color:white;
    text-align:right;
}
html {
	position: relative;
	min-height: 100%;
}
.navbar{
    background-color:   #e9f3ff;
}
#navigationbar{
    padding: 0px 50px;
    z-index:2;
    top:0px;
    position: sticky;
    width:100%;
    height:60px;
}
.content{
    position: static;
    align: center;
    margin: 20px 50px 60px 50px;
}
.content1{
    position: static;
    align: center;
    margin: 20px 50px 160px 50px;
}
label{
    font-weight:600;
}
.nav-item{
    font-weight: 750;
}
.nav-item .nav-link:hover{
    background-color: #c8e1ff;
    border-radius: 5px;
}
.navbar-light .navbar-nav .show>.nav-link{
	cursor: pointer;
	color: rgba(0,0,0,.5);
}
.navbar-light .navbar-nav .show>.nav-link:hover{
	color: rgba(0,0,0,.7);
}
.dropdown-item{
    margin:0;
}
.dropdown-menu{
	width:max-content;
    background-color:#e9f3ff;
	padding:0;
}
#error_box{
    z-index: 1056;
    position: fixed;
    top:5px;
    right:20px;
    max-width:20%;
    color: white;
    border-radius: 5px;
    display:none;
    padding 0px 5px 0px 5px;
    }
#error_head{
        font-weight: 600;
    padding :5px 20px 0 20px;
    }
#error_panel{
    padding: 10px 20px 20px 20px;
    }

.footer {
		color: rgba(0,0,0,.5);
        font-weight: 750;
	    position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align:center;
        background-color: #e9f3ff;
}
#notification{
        z-index:1057;
}
.form-inline label{
    display:block;
    width:200px;
    padding: 10px;
    }
.custom-file-label{
    display:flex;
    width:94%;
    margin :2% 3%;
}
label {
    width:100px;
}
.info{
position:absolute;
left:116px;
}
.info1{
position:absolute;
left:320px;
}
.close{
	padding-right:5px;
	color:white;
	opacity:1;
	}
.close:hover{
	color:white;
	opacity:1;
	}
.sticky{
    position:sticky;
    border:black;
    background-color:white;
    top: 60px;
}
.form-inline .form-group {
padding:0;
}
.form-inline .form-control{
	width:100%;
}
input required{
	border: 1px solid red;
}
.intable{
padding: 0 10px;
height:auto;
}
#item-table{
table-layout: fixed;
}