<!doctype html>

<html lang="en">


<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">
<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content">
    <h3>Brands</h3>
    <br>
    <div class="row" id="buttons">
        &nbsp;
        <button class="btn btn-primary" id="add-data" type="button">Add</button>
        &nbsp;
        <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
        &nbsp;
        <button class="btn btn-outline-secondary" id="refresh-data" type="button">Refresh</button>
    </div>
    <br>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table  table-striped" id="brand-table">
                <thead>
                <tr>
                    <th scope="col">S No</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Brand Add Modal -->
    <div class="modal" id="add-brand-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Brand</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="brand-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBrand">Brand</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputBrand" name="bname" placeholder="Enter Brand"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputCategory">Category</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputCategory" name="cname" placeholder="Enter Category"
                                       type="text">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="add-brand" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Brand Edit Modal -->
    <div class="modal" id="edit-brand-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Brand</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="brand-edit-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBrand">Brand</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="bname" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputCategory">Category</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="cname" type="text">
                            </div>
                        </div>
                        <input name="id" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-brand" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Brand Upload Modal-->
    <div class="modal" id="upload-brand-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload brand</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="brand-file">
                        <input class="custom-file-input" id="brandFile" required type="file">
                        <label class="custom-file-label" for="brandFile" id="brandFileName">Choose file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/BrandSample.tsv}">Download Sample</a>
                    <br>
                    <div id="error-stats">
                        Rows: <span id="rowCount">0</span>,
                        Processed: <span id="processCount">0</span>,
                        Errors: <span id="errorCount">0</span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="process-data" type="button">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/brand.js}"></script>
<script th:src="@{/static/app.js}"></script>
</body>

</html>