<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content1">

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="item-form">
                <div class="form-group col-4">
                    <label class="col-sm-3 col-form-label" for="inputBarcode">Barcode</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="inputBarcode" name="barcode" placeholder="Enter Barcode"
                               required
                               type="text">
                        </input>
                    </div>
                </div>
                <div class="form-group col-4">
                    <label class="col-sm-3 col-form-label" for="inputQuantity">Quantity</label>
                    <div class="col-sm-8">

                        <input class="form-control" id="inputQuantity" name="quantity" pattern="[1-9][0-9]*"
                               placeholder="Enter Quantity" required type="text">
                    </div>
                </div>
                <div class="form-group col-4">
                    <label class="col-sm-4 col-form-label" for="inputPrice">Selling Price</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="inputPrice" min="0" name="sellingPrice"
                               placeholder="Enter Price (Optional)"
                               step="any" type="number">
                    </div>
                </div>
                <button class="btn btn-primary" form="item-form" id="add-item" type="submit">Add</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table  table-striped" id="item-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand-Category</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>
</div>
<div id="order-control">
    <h3>Amount:<span id="order-total-value">0</span>
        <button class="btn btn-outline-secondary" id="cancel-order" type="button">Clear All</button>
        <button class="btn btn-success" disabled id="confirm" type="button">Confirm</button>
    </h3>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/create.js}"></script>
<script th:src="@{/static/app.js}"></script>
</body>

</html>