<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content1">

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="item-form">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="inputBarcode" name="barcode" required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputQuantity">Quantity</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="inputQuantity" min="1" name="quantity"
                               placeholder="Enter Quantity" required step="1" type="number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputPrice">Price</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="inputPrice" min="0" name="sellingPrice"
                               placeholder="Enter Price" type="number">
                    </div>
                </div>
                <input name="orderId" type="hidden">
                <input name="productId" type="hidden">
                <button class="btn btn-primary" form="item-form" id="add-item" type="submit">Add</button>
                &nbsp;
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table  table-striped" id="item-table">
                <thead>
                <tr>
                    <th scope="col">S No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand-Category</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Item Edit Modal -->
    <div class="modal" id="edit-item-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Item</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="item-edit-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                            <div class="info" id="barcode_set">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputPrice">Price</label>
                            <div class="col-sm-10">
                                <input class="form-control" min="0" name="sellingPrice" required type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputQuantity">Quantity</label>
                            <div class="col-sm-10">
                                <input class="form-control" min="1" name="quantity" step="1" type="number">
                            </div>
                        </div>
                        <input name="productId" type="hidden">
                        <input name="orderId" type="hidden">
                        <input disabled name="id" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" form="item-edit-form" id="update-item" type="submit">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="order-control">
    <h3>
        <h3>Amount:<span id="order-total-value">0</span>
            <button class="btn btn-outline-secondary" id="cancel-order" type="button">Clear All</button>
            <button class="btn btn-success" disabled="true" id="confirm" type="button">Confirm</button>
        </h3>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/create.js}"></script>
<script th:src="@{/static/app.js}"></script>
</body>

</html>