<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content1">
    <!-- Table -->
    <div class="col-12">
        <table class="table  table-striped" id="item-table">
            <thead>
            <tr>
                <th scope="col">S No</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Brand-Category</th>
                <th scope="col">MRP</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Item Edit Modal -->
<div class="modal" id="edit-item-modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Item</h5>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="item-edit-form">
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" for="barcode_set">Barcode</label>
                        <div class="info" id="barcode_set">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" for="inputPrice">Price</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputPrice" min="0" name="sellingPrice" required step="any"
                                   type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label" for="inputQuantity">Quantity</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputQuantity" min="1" name="quantity"
                                   type="number">
                        </div>
                    </div>

                    <input name="productId" type="hidden">
                    <input name="orderId" type="hidden">
                    <input disabled name="id" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <button class="btn btn-primary" form="item-edit-form" id="update-item" type="submit">Update</button>
            </div>
        </div>
    </div>
</div>

</div>
<div id="order-control">
    <h3>Order Id:<span id="old-order">0</span>&nbsp;
        Amount:<span id="order-total-value">0</span>
        <button class="btn btn-outline-secondary" id="cancel-order" type="button">Cancel Edit</button>
        <button class="btn btn-success" disabled="true" id="confirm" type="button">Confirm</button>
    </h3>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/app.js}"></script>
<script th:src="@{/static/edit.js}"></script>
</body>

</html>