<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content">
    <h3>Inventory</h3>

    <br>
    <div class="row" id="buttons">
        &nbsp;
        <button class="btn btn-primary" id="add-data" type="button">Add</button>
        &nbsp;
        <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
        &nbsp;
        <button class="btn btn-outline-secondary" id="refresh-data" type="button">Refresh</button>
    </div>
    <br>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table  table-striped" id="inventory-table">
                <thead>
                <tr>
                    <th scope="col">S No</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Inventory Add Modal -->
    <div class="modal" id="add-inventory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Items to Inventory</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="inventory-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="barcode">Barcode</label>
                            <div class="col-sm-10">
                                <select class="form-select mb-3" name="barcode" id="barcode">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="Quantity">Quantity</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="Quantity" name="quantity" placeholder="Enter Quantity"
                                       type="number">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="add-inventory" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Inventory Edit Modal -->
    <div class="modal" id="edit-inventory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Inventory</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="inventory-edit-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="Barcode">Barcode</label>
                            <div class="info" id="barcode_set">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="Quantity">Quantity</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="quantity" type="number">
                            </div>
                        </div>

                        <input name="productId" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-inventory" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Inventory Upload Modal-->
    <div class="modal" id="upload-inventory-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload inventory</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="inventory-file">
                        <input class="custom-file-input" id="inventoryFile" required type="file">
                        <label class="custom-file-label" for="inventoryFile" id="inventoryFileName">Choose file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/InventorySample.tsv}">Download Sample</a>
                    <br>
                    <div id="error-stats">
                        Rows: <span id="rowCount">0</span>,
                        Processed: <span id="processCount">0</span>,
                        Errors: <span id="errorCount">0</span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="process-data" type="button">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/inventory.js}"></script>
<script th:src="@{/static/app.js}"></script>
</body>

</html>