<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content">
    <h3>Orders</h3>
    <br>
    <div class="row" id="buttons">
        <button class="btn btn-primary" id="new-order" type="button">New Order</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-secondary" id="refresh-data" type="button">Refresh</button>
    </div>
    <br>
    <div class="row">
        <!-- Table -->
        <div class="col-12">
            <table class="table  table-striped" id="orders-table">
                <thead>
                <tr class="sticky">
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Invoice Time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Order Edit Modal -->
    <div class="modal fade" id="edit-order-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-xl" id="edit-order-modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Order Items</h5>
                </div>
                <div class="modal-body">
                    <!-- Table -->
                    <div class="col-12">
                        <table class="table  table-striped" id="item-table">
                            <thead>
                            <tr>
                                <th scope="col" width="10%">Name</th>
                                <th scope="col" width="10%">Barcode</th>
                                <th scope="col" width="10%">MRP</th>
                                <th scope="col" width="12%">Selling Price</th>
                                <th scope="col" width="8%">Quantity</th>
                                <th scope="col" width="10%">Total</th>
                                <th scope="col" width="15%">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-primary"  id="confirmEdit" type="button">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="confirm-cancel" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Cancel Order</h5>
                </div>
                <div class="modal-body">
                    <p style="color:red">This action cannot be undone. Are you sure to cancel this Order (Order Id : <span id="cancel-order-id"></span>)?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="button" id="confirmed-cancel" class="btn btn-danger">Cancel Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/orders.js}"></script>
<script th:src="@{/static/edit.js}"></script>
<script th:src="@{/static/app.js}"></script>
</body>

</html>