<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content">

    <h3>Products</h3>

    <br>
    <div class="row" id="buttons">
        &nbsp;
        <button class="btn btn-primary" id="add-data" type="button">Add</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" id="upload-data" type="button">Upload</button>
        &nbsp;&nbsp;
        <button class="btn btn-outline-secondary" id="refresh-data" type="button">Refresh</button>
    </div>
    <br>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table  table-striped" id="product-table">
                <thead>
                <tr class="sticky">

                    <th scope="col">S No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">MRP</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- Product Add Modal -->
    <div class="modal fade" id="add-product-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="product-form">
                        <div class="form-group col-6">
                            <label class="col-sm-4 col-form-label" for="inputBrand">Brand</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputBrand" name="brandName" required>
                                </select>
                            </div>
                            <br>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-sm-4 col-form-label" for="inputCategory">Category</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="inputCategory" name="categoryName" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputName">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputName" name="name" placeholder="Enter Product"
                                       required type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputBarcode" name="barcode" placeholder="Enter Barcode"
                                       required type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputMrp">MRP</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputMrp" name="mrp" pattern="[0-9]*.[0-9]*"
                                       placeholder="Enter MRP" required type="text">
                            </div>
                        </div>
                        &nbsp;
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" form="product-form" id="add-product" type="submit">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Edit Modal -->
    <div class="modal fade" id="edit-product-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="product-edit-form">
                        <div class="form-group col-6">
                            <label class="col-sm-4 col-form-label" for="inputBrand">Brand</label>
                            <div class="col-sm-8" id="brandName_set">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-sm-4 col-form-label" for="inputCategory">Category</label>
                            <div class="col-sm-8" id="categoryName_set">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputName">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="name" placeholder="Enter Product" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="barcode" placeholder="Enter Barcode"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputMrp">MRP</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="mrp"
                                       pattern="[0-9]*.[0-9]*" placeholder="Enter MRP" type="text">
                            </div>
                        </div>
                        <input name="id" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" form="product-edit-form" id="update-product" type="submit">Update
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Product Upload Modal-->
    <div class="modal fade" id="upload-product-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Product</h5>
                </div>

                <div class="modal-body">
                    <form id="product-upload">
                        <div class="product-file">
                            <input class="custom-file-input" id="productFile" required type="file">
                            <label class="custom-file-label" for="productFile" id="productFileName">Choose file</label>
                        </div>
                    </form>
                    <a target="_blank" th:href="@{/sample/ProductSample.tsv}">Download Sample</a>
                    <br>
                    <div id="error-stats">
                        Rows: <span id="rowCount">0</span>,
                        Processed: <span id="processCount">0</span>,
                        Errors: <span id="errorCount">0</span>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" form="product-upload" id="process-data" type="submit">Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/product.js}"/>
</script>
<script th:src="@{/static/app.js}"/>
</script>
</body>

</html>