<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<link rel="stylesheet" th:href="@{/static/overall.css}">

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div class="content">
    <h3>Sales Report</h3>
    <br>

    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="sales-form">
                <div class="form-group col-3">
                    <label class="col-sm-4 col-form-label" for="inputStart">Start Date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="inputStart" name="start" required type="date">
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="col-sm-4 col-form-label label-right-align" for="inputEnd">End Date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="inputEnd" name="end" required type="date">
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="col-sm-3 col-form-label label-right-align" for="inputBrand">Brand</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="inputBrand" name="brandName"
                               placeholder="Enter Brand (Optional)" type="text">
                    </div>
                </div>
                <div class="form-group col-3">
                    <label class="col-sm-3 col-form-label label-right-align" for="inputCategory">Category</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="inputCategory" name="categoryName"
                               placeholder="Enter Category (Optional)"
                               type="text">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <br>
    <div class="row" id="buttons">
        &nbsp;
        <button class="btn btn-outline-primary" form="sales-form" id="SalesReport" type="button">Sales Report CSV
        </button>
    </div>

</div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/salesreport.js}"></script>
<script th:src="@{/static/app.js}"></script>
</body>

</html>